%h1 Dashboard

- if current_user
  %h4 welcome
- else
  %h3 Login
  = render 'form'
  %hr/
  %h3 Forgot Password?
  = render 'forgot_password_form'
  %br/
  = link_to 'Back', user_sessions_path
  = link_to 'Forgot Password?', new_password_reset_path
